
body, .review-modal{
  background-color: rgb(236, 234, 234);
}

ul {
  list-style-type: none;
}

.search-item:hover {
  background-color: grey;
  cursor: pointer;
  
}

.add-review-btn{
  background-color: rgb(38, 170, 126);
  color: white;
  
  
}

.modal-header {
  background-color: rgb(53, 50, 50);
  color: rgb(236, 234, 234)
}

.filtered-list {
  z-index: 1;
  position: absolute;
  background-color: white;
}



.filtered-item:hover {
  background-color: rgb(236, 234, 234)
}

.review-area{
  border-style: none;
  background-color: rgb(236, 234, 234);
  width: 100%;
}

.course-item:hover{
  cursor: pointer;
  background-color: rgb(207, 204, 204)
}